{% extends "admin/delete_confirmation.html" %}
{% load i18n admin_urls polymorphic_admin_tags polymorphic_tree_admin_tags %}

{# Add tree levels to polymorphic breadcrumb #}
{% block breadcrumbs %}{% breadcrumb_scope base_opts %}
<div class="breadcrumbs">
     <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
     {% if opts.app_config %}{# Django 1.7+ #}
          &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
     {% else %}
          &rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
     {% endif %}
     &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>

     {% for parent in object|mptt_breadcrumb %}
        &rsaquo; <a href="{% url opts|admin_urlname:'change' parent.pk|admin_urlquote %}">{{ parent }}</a>
     {% endfor %}

     &rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
     &rsaquo; {% trans 'Delete' %}
</div>
{% endbreadcrumb_scope %}{% endblock %}
