include AUTHORS
include README.rst
include CHANGES.rst
include LICENSE.rst
recursive-include polymorphic_tree/locale *.mo *.po
recursive-include polymorphic_tree/templates *.html
recursive-include polymorphic_tree/static *.css *.js *.png *.gif LICENSE README.rst
